#heading
{
	position: absolute;
	font-family: purisa;
	font-style: italic;
	font-weight: bolder;
	font-size: 530%;
	color: white;
	top: 2%;
	left: 03%;
	transition: 10s;

}
#tagline
{
	position: absolute;
	font-family: pursia;
	font-style: italic;
	font-weight: bold;
	color: white;
	top: 21%;
	left: 30%;
	transition: 10s;
}

#nav
{
	position: absolute;
	bottom: 8%;
	left: 35%;


}
